.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-input1{
    display: flex;
    padding: 10px;
    flex:1  ;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba(213, 212, 216, 1) ;
}
.form-input2{
    display: flex;
    padding: 10px;
    flex:1  ;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgba(213, 212, 216, 1) ;
}
.form-button{
    margin-top: 30px;
    width: 80%;
    align-self: center;
    height: 40px;
    color: white;
    border-radius: 5px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

}
.memeImage{
    max-width: 100%;
    margin-left: 30px;
    border-radius: 3px;
}
.meme {
    position: relative;
}
.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}